<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="/img/weather.png">
    <script src="js/app.js" lang="js"></script>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
        <img class="portrait" src="/img/robot.png" alt="Robot">
    </div>
     {{>footer}}
  </body>
</html>